<web-app>
	<servlet>
	<servlet-name>first</servlet-name>
	<servlet-class>com.mondee.DoctorRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>firstservlet</servlet-name>
		<url-pattern>/firstservlet</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>second</servlet-name>
	<servlet-class>com.mondee.DoctorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>secondservlet</servlet-name>
		<url-pattern>/secondservlet</url-pattern>
	</servlet-mapping>
</web-app>